html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.layout__page {
    width: 840px;
    margin: 0 auto;
}

.layout__header {

}

.layout__title {
    font-size: 2em;
    font-weight: lighter;
}
